.Rproj.user
.Rhistory
.RData
.DS_Store
.httr-oauth
raw-data/
inst/doc
/doc/
.cache/
.config/
.local/

my-db.duckdb
my-db.duckdb.wal
my-db.duckdb.tmp/

tests/testthat/fixtures/test-db.duckdb.wal
tests/testthat/fixtures/test-db..duckdb.tmp/
